$mr-purple: #33247d;
$mr-pink: #dd315b;
$mr-grey: #7a7a7a;

.eachMemberContainer {
  display: flex;
  flex-direction: column;
  background-color: $mr-purple;
  border-radius: 2vw;
  width: 40vw;
  color: white;
  padding: 1.5vw;
  margin: 1vw;
  align-content: center;
  justify-content: center;
}

.memberTitleHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  p {
    margin-left: 0;
  }
  
}

img.memberImage {
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
}

.memberSpecialities {
  display: flex;
}

.eachSpeciality {
  background-color: $mr-grey;
  padding: 0.7vw;
  border-radius: 0.8vw;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-right: 0.5vw;
  font-size: 0.8vw;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

button.memberButtons:hover {
  opacity: 0.5;
}

.hiddenMemberInfo {
  text-align: left;
  padding: 2vw;
  font-size: 1vw;
  h3 {
    margin-left: 0;
  }
  p {
    margin-left: 0;
  }
}

.memberWords {
  display: flex;
  flex-direction: column;
}
