$mr-pink: #dd315b;

.navBarContainer {
    background-color: $mr-pink;
    height: 10vw;
}

.addMemberButton {
    border-style: solid;
    border-color: white;
    border-radius: 1vw;
    border-width: 2px;
}