$mr-pink: #dd315b;

.newMemberForm {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: $mr-pink;
  height: 6vw;
  padding: 2vw;
}

input {
  background-color: transparent;
  border-color: white;
  border-style: solid;
  border-radius: 1vw;
  border-width: 1px;
  color: white;
  outline: none;
  padding: 0.5vw;
  margin: 0.5vw;
  font-size: 1vw;
}
input::placeholder {
  color: white;
}
label {
  margin: 0.5vw;
  margin-top: 0;
  color: white;
  font-size: 1vw;
}
.selectBox {
  width: 15vw;
  height: 5vw;
  font-size: 1vw;
}

.addMemberButton {
  border-style: solid;
  border-color: white;
  border-radius: 1vw;
  border-width: 1px;
  width: 10vw;
  margin: 0.5vw;
}

.addMemberButton:hover {
  background-color: white;
  color: $mr-pink;
  border-style: solid;
  border-color: $mr-pink;
}

.formInfoContainer {
  display: flex;
  flex-direction: column;
  justify-items: left;
  margin: 0.5vw;
}

.formInfoRow {
  display: flex;
  justify-content: left;
}

.selectContainers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  color: grey;
  text-align: center;
}
